* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}

body {
    background-image: url("assets/Achtergrond about.png");
    background-size: 100%;
}

/* NAVIGATIE */
.navbar {
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
}

#nav {
    width: 60px;
}

a {
    text-align: right;
}

.nav-link {
    color: #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler {
    border: transparent;
}

.aboutlink {
    color: #cd2871;
}

/* MAIN */
article {
    display: flex;
    flex-direction: row;
    align-items: center;
}
article div {
    margin: 45px;
}
main section article img {
    width: 200px;
    border: 2px solid #FFF;
    border-radius: 7px;
}
.sectie1 {
    margin: 0 180px;
    /**position: absolute;
    left: 180px;
    top: 125px;**/
}
.sectie2 {
    margin: 0 100px 0 380px;
}
h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 45px;
    }
}