* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}

body {
    background-image: url("assets/Achtergrond about.png");
    background-size: 100%;
}

/* NAVIGATIE */
.navbar {
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
}

#nav {
    width: 60px;
}

a {
    text-align: right;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #818181;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler {
    border: transparent;
}

.aboutlink {
    color: #cd2871;
}

/* MAIN */
h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.top1 {
    margin-top: 100px;
}

img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: #2a2a2a;
    padding: 15px;
}

footer ul {
    margin: 0;
}

footer a {
    font-size: 25px;
    padding: 0 30px;
    text-align: center;
}

footer i:hover {
    color: #cd2871;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 45px;
    }

    .top1, .top2 {
        margin-top: 150px;
    }
}