* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}
body {
    background-image: url("assets/Achtergrond home.png");
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    padding: 0 20px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    color: #8f8f8f;
}
nav img {
    width: auto;
    height: 45px;
}

#home {
    text-decoration: underline;
}
#intro {
    margin: 150px 140px;
}
#intro h1 {
    font-family: "PT Serif", sans-serif;
}
#cv {
    margin-top: 250px;
    margin-left:  140px;
    background-color: #F0F0F0;
    border-radius: 36px;
    width: 150px;
    padding: 20px;
    text-align: center;
}
#cv a {
    color: #000;
    text-decoration: none;
}
#cv:hover {
    background-color: #8f8f8f;
}
@media screen and (max-width: 900px) {
    body {
        background-image: url("assets/Achtergrond_home_tablet.png");
    }
    nav {
        padding: 40px 100px;
    }
    #intro {
        margin: 100px 100px;
        font-size: larger;
    }
    #cv {
        margin: 200px 100px;
    }
}
@media screen and (max-width: 645px) {
    body {
        background-image: url("assets/Achtergrond_home_phone.png");
    }
    nav {
        padding: 40px 0 0 45px;
    }
    nav ul {
        flex-direction: column;
        align-items: end;
    }
    nav ul li {
        padding: 5px 20px;
    }
    #intro {
        margin: 90px 45px;
        font-size: smaller;
    }
    #cv {
        margin: 200px 45px;
        width: 100px;
        padding: 10px 20px;
    }
}