* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}
body {
    background-image: url("assets/Achtergrond-Portfolio.jpg");
    background-size: cover;
}

/* NAVIGATIE */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    padding: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #8f8f8f;
}
nav img {
    width: auto;
    height: 45px;
}

#home {
    text-decoration: underline;
}

/* MAIN */
#ik {
    width: 100%;
}

.intro {
    padding-top: 100px;
}

h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.cv {
    padding-top: 100px;
}

.cv a {
    background-color: #F0F0F0;
    text-decoration: none;
    color: #000;
    padding: 12px 25px;
    border-radius: 10px;
    text-align: center;
}

.cv a:hover {
    background-color: #8f8f8f;
    color: #FFFFFF;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .intro {
        padding-top: 130px;
    }
}