* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}
body {
    background-image: url("assets/Achtergrond-Portfolio.jpg");
    background-size: cover;
}

/* NAVIGATIE */
.navbar {
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
}

#nav {
    width: 60px;
}

a {
    text-align: right;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #818181;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler {
    border: transparent;
}

.homelink {
    color: #cd2871;
}

/* MAIN */
#ik {
    width: 100%;
}

.intro {
    padding-top: 300px;
}

h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.cv {
    padding-top: 100px;
}

.cv a {
    background-color: #F0F0F0;
    text-decoration: none;
    color: #000;
    padding: 12px 25px;
    border-radius: 10px;
    text-align: center;
}

.cv a:hover {
    background-color: #8f8f8f;
    color: #FFFFFF;
}

/* FOOTER */
footer {
    background-color: #2a2a2a;
    padding: 15px;
}

footer ul {
    margin: 0;
}

footer a {
    font-size: 25px;
    padding: 0 30px;
    text-align: center;
}

footer i:hover {
    color: #cd2871;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 45px;
    }
    .intro {
        padding-top: 250px;
    }
    .foto {
        padding-top: 150px;
    }
}