* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7ea694;
    font-family: "Lato", sans-serif;
}
body {
    background-color: #f5f4ef;
}
/* NAVIGATIE */
.navbar {
    background-color: #7ea694;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

#nav {
    width: 60px;
}

a {
    text-align: right;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #818181;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler {
    border: transparent;
}

.worklink {
    color: #eea900;
}

/* MAIN */
h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5%;
}

main img {
    width: 100%;
    border-radius: 10px;
}

main .wpl_img {
    opacity: 70%;
}

main .wpl_img:hover {
    opacity: 100%;
}

.top {
    padding-top: 100px;
}

.terug {
    padding-top: 10px;
    padding-bottom: 40px;
}

.terug a {
    text-decoration: none;
    background-color: #7ea694;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.terug a:hover {
    background-color: #7ea694;
}

.guide {
    margin-top: 30px;
}

.guide a {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #2a2a2a;
    padding: 15px;
    border-radius: 10px;
}

.guide a:hover {
    background-color: #8f8f8f;
}

/* FOOTER */
footer {
    background-color: #7ea694;
    padding: 15px;
}

footer ul {
    margin: 0;
}

footer a {
    font-size: 25px;
    padding: 0 30px;
    text-align: center;
}

footer i{
    color: #fff;
}

footer i:hover {
    color: #eea900;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 45px;
    }
    .top {
        padding-top: 150px;
    }
}