* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Lato", sans-serif;
}
body {
    background-image: url("assets/Achtergrond mywork.png");
    background-size: 100%;
}
/* NAVIGATIE */
.navbar {
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
}

#nav {
    width: 60px;
}

a {
    text-align: right;
}

.nav-link {
    color: #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler {
    border: transparent;
}

.worklink {
    color: #cd2871;
}

/* MAIN */
.projecten {
    display: flex;
    justify-content: center;

}
section {
    display: flex;
    flex-direction: column;
    background-color: #f6f2f2;
    margin: 15px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    height: 270px;
    width: 14.5%;
}
section a {
    color: #fff;
    text-decoration: none;
    background-color: #1D1D1D;
    padding: 12px 10px;
    border-radius: 20px;
    width: 170px;
    font-size: 15px;
    text-align: center;
}
section a:hover {
    background-color: #4f4f4f;
}
section img {
    width: 120px;
    margin: 20px 0 40px 0;
}

/* MEDIAQUERRY */
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 45px;
    }
}