*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri Light", sans-serif;
}
body{
    background-image: url("assets/achtergrond.png");
    /*display: flex;
    justify-content: center;*/
}
header{
    width: 960px;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    color: #FFF;
    background-color: #2F4F4F;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); /*Moet niet gekend zijn voor examen!*/
    font-variant: small-caps;
}
main{
    width: 960px;
    margin: 120px auto 0 auto;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: #FFF;
}
main p {
    padding-bottom: 5px;
    padding-top: 5px;
    width: calc(100%);
}
main section#about{
    margin: 20px 0;
}
main section#about h2{
    margin: 0 0 15px 0;
}
main section#articles{
    height: 800px; /*calc((100% / 3) - (8% /3))*/
    margin-top: 20px;
    border-top: 1px solid #CCC;
}
main section h3{
    margin: 20px 0;
}
main section article h4{
    margin-bottom: 10px;
}
main section article{
    background-color: #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 30%;
    overflow: auto;
}
footer a{
    background-color: #2F4F4F;
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 20px;
}
@media screen and (max-width: 950px){
    body {
        background-image: none;
    }
    header {
        width: 100%;
        border-radius: 0; /*BORDER-RADIUS VERWIJZEN NAAR RECHTS OF LINKS, VANONDER OF VANBOVEN*/
    }
    main {
        width: 100%;
        border-radius: 0;
        border: none;
        margin-top: 60px;
    }
    footer a {
        border-radius: 0;
        bottom: 25px;
    }
}