* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Verdana, sans-serif;
}
h1 {
    font-family: 'Schoolbell', cursive;
    color: #343a40;
}
h1 span {
    font-family: 'Schoolbell', cursive;
    color: #3386a7;
}
h2 {
    font-family: 'Schoolbell', cursive;
    color: #343a40;
}
p {
    color: #343a40;
    margin-bottom: 20px;
}
header {
    background-color: #a6dced;
    text-align: center;
    padding: 75px;
}
nav {
    background-color: #343a40;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li a {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}
nav ul li a:hover, nav ul li a.active {
    background-color: #dddddd;
    color: #343a40;
}
main {
    width: 100%;
    display: flex;
}
main section {
    width: 75%;
    padding: 50px;
}
main section img {
    width: 100%;
    margin: 20px 0;
}
main aside {
    width: 25%;
    padding: 50px; /*HETZELFDE ALS DE SECTION*/
    background-color: #f1f1f1;
}
footer {
    background-color: #343a40;
    text-align: center;
    padding: 10px;
    color: #fff;
}
footer p {
    color: #fff;
    margin-bottom: 0;
}
@media screen and (max-width: 700px){
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li a {
        width: 100%;
    }
    main{
        flex-direction: column;
    }
    main section, main aside{
        width: 100%;
    }
}